.main {
    display: flex;
}

.heading h1 {
    font-size: 20px;
}

.text1 {
    gap: 110px;
}

.text1 i {
    font-size: 15px;
}

.text1 h1 {
    font-size: 20px;
}

h1 {
    font-size: 20px;
}

.link1 {
    text-decoration: none;
    color: palevioletred;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.col-9 {
    justify-content: space-between;

}

.div1 a {
    text-decoration: none;
    color: palevioletred;
}

.div1 img {
    height: 250px;
    width: 200px;
}

.div1 p {
    font-weight: bold;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.next {
    background-color: white;
    color: black;
    border: 2px solid gray;
    border-radius: 5px;
    width: 100px;
}

.next:hover {
    border: 2px solid black;
}

.next-btn {
    color: black;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: black;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}